In [2]:
a = 10
b = 20
a+b
a = 10
b= 30
a-b

-20

In [7]:
a = 10
b = 20
c =a+b
print(c)
c = a-b
print(c)
c = a*b
print(c)
c = a/b
print(c)

30
-10
200
0.5

In [8]:
a = 'lili'
print(a)

lili

In [25]:
a = 10
print(type(a))
print(a)
b = 1.1
print(type(b))
print(b)
c = 3+4j
print(type(c))
print(c)
d = 'lili'
print(type(d))
print(d)
a = True
print(type(a))
b = False
print(type(b))
dict = {
    'name':'lili',
    'sub': 'cs'
}
print(type(dict))
list = [1,2,3,4,5]
print(type(list))
print(list)
tup = (1,2,3,4,5,6,7)
print(type(tup))
print(tup)
set = {11,22,33,44,55,66}
print(type(set))
print(set)
s = frozenset(set)
print(type(s))
print(s)

<class 'int'>
10
<class 'float'>
1.1
<class 'complex'>
(3+4j)
<class 'str'>
lili
<class 'bool'>
<class 'bool'>
<class 'dict'>
<class 'list'>
[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)
<class 'set'>
{33, 66, 22, 55, 11, 44}
<class 'frozenset'>
frozenset({33, 66, 22, 55, 11, 44})

### typecasting

In [26]:
a = 10
print(type(a))
print(a)
a_f = float(a)
print(type(a_f))
print(a_f)

<class 'int'>
10
<class 'float'>
10.0

In [32]:
a = '100.4'
print(type(a))
print(a)
a_f = float(a)
print(type(a_f))
print(a_f)

<class 'str'>
100.4
<class 'float'>
100.4

In [29]:
x= 10.5
print(type(x))
print(x)
x_i = int(x)
print(type(x_i))
print(x_i)

<class 'float'>
10.5
<class 'int'>
10

In [33]:
a = '900'
print(type(a))
print(a)
a_f = float(a)
print(type(a_f))
print(a_f)
a_i = int(a)
print(type(a_i))
print(a_i)

<class 'str'>
900
<class 'float'>
900.0
<class 'int'>
900

In [36]:
a =10

print(a)
print(type(a))
x = str(a)
print(type(x))
print(x)

10
<class 'int'>
<class 'str'>
10

In [37]:
b = 20.3
print(type(b))
print(b)
b_str = str(b)
print(type(b_str))
print(b_str)

<class 'float'>
20.3
<class 'str'>
20.3

In [38]:
c = 10+3j
print(type(c))
print(c)
c_str = str(c)
print(type(c_str))
print(c_str)

<class 'complex'>
(10+3j)
<class 'str'>
(10+3j)

In [39]:
a = complex(2,3)
print(a)
print(a.real)
print(a.imag)

(2+3j)
2.0
3.0

In [40]:
a = '200'
b = complex(a)
print(type(b))
print(b.real)
print(b.imag)

<class 'complex'>
200.0
0.0

In [41]:
a = '100'
b = complex(a)
print(b)
x = '200'
c = complex(x)
print(c)

(100+0j)
(200+0j)

In [42]:
a = '100'
b = complex(a)
print(b)

(100+0j)

In [43]:
a = complex(4,5)
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
4.0
5.0

In [44]:
a = '3+6j'
print(type(a))
print(a)
b = complex(a)
print(type(b))
print(b.real)
print(b.imag)

<class 'str'>
3+6j
<class 'complex'>
3.0
6.0

In [46]:
a = '4+7j'
print(type(a))
print(a)
b = complex(a)
print(type(b))
print(b.real)
print(b.imag)

<class 'str'>
4+7j
<class 'complex'>
4.0
7.0

In [47]:
a = True
print(a)

True

In [49]:
a = False
a = True
print(a)

True

In [55]:
print(float(True))
print(float(False))
print(int(True))
print(int(False))
print(complex(True))
print(complex(False))

1.0
0.0
1
0
(1+0j)
0j
(1+0j)

In [51]:
a = 1
print(a)

1

In [57]:
a = str(True)
print(a)
print(type(a))

True
<class 'str'>

In [58]:
a = str(False)
print(a)
print(type(a))

False
<class 'str'>

In [59]:
a = bool(22)
print(type(a))
print(a)

<class 'bool'>
True

In [63]:
print(bool(22))
print(bool(2.3))
print(bool(0))
print(bool(4+6j))

True
True
False
True

In [64]:
print(int(True))

1

In [73]:
a = bool(11)
print(type(a))
print(a)
b = bool(2.3)
print(type(b))
print(b)
c = bool(2+4j)
print(type(c))
print(c)
d = bool('20')
print(type(d))
print(d)
a = 'hello'
b = bool(a)
print(type(b))
print(b)
print(bool(0+0j))
print(bool('hello'))
print(bool(''))
print(bool('10'))

<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
<class 'bool'>
True
False
True
False
True

### string

In [82]:
str1 = 'hi python'
print(type(str1))
print(str1)
print(str1[0:3])
print(str1[-3:-1])
print(str1[-6:-3])
print(str1[0])
print(str1[-1])
print(str1*6)

<class 'str'>
hi python
hi
ho
pyt
h
n
hi pythonhi pythonhi pythonhi pythonhi pythonhi python

In [86]:
str2 = 'welcome python'
print(type(str2))
print(str2)
print(str2[2:5])
print(str2[-5:-2])
print(len(str2))
print(str2[1:-1])
print(str2*4)

<class 'str'>
welcome python
lco
yth
14
elcome pytho
welcome pythonwelcome pythonwelcome pythonwelcome python

In [87]:
a = 10
b = 20
print(id(a))
print(id(b))
print(a is b)

1911845290512
1911845290832
False

In [88]:
a = 2.4
b = 2.4
print(id(a))
print(id(b))
print(a is b)

1911943824272
1911924474736
False

In [89]:
a = 3+4j
a = 3+6j
print(id(a))
print(id(a))
print(a is a)

1911945597904
1911945597904
True

In [90]:
a = 10
b = a
print(id(a))
print(id(b))
print( a is b)

1911845290512
1911845290512
True

In [92]:
x = 9.0
y = x
print(id(x))
print((id(y)))
print(x is y)

1911922960432
1911922960432
True

In [94]:
a = 30
b = a
c = a
print(id(a))
print(id(b))
print(id(c))

1911845291152
1911845291152
1911845291152

In [99]:
x = 5.9
y = x
z = 3.7
print(id(x))
print(id(y))
print(id(z))
print(z is not y)

1911943830800
1911943830800
1911943833072
True

In [102]:
a = ([1,2,3,4,5,6])
b = bytes(a)
print(type(b))
print(b)
print(b[3])

<class 'bytes'>
b'\x01\x02\x03\x04\x05\x06'
4

In [105]:
b = bytes([11,22,33,44,55,66])
print(type(b))
print(b)
for i in b:
    print(i)
b[3] 
b[5]

<class 'bytes'>
b'\x0b\x16!,7B'
11
22
33
44
55
66

66

In [108]:
b = bytes([0,1,2,3,4,5,6,7])
print(type(b))
print(b)
for i in b:
    print(i)
b[2]

<class 'bytes'>
b'\x00\x01\x02\x03\x04\x05\x06\x07'
0
1
2
3
4
5
6
7

2

In [111]:
ba = bytearray([11,22,33,44,55,66,77])
print(type(ba))
print(ba)
for i in ba:
    print(i)
ba[3] = 100
print(ba[3])
for i in ba:
    print(i)

<class 'bytearray'>
bytearray(b'\x0b\x16!,7BM')
11
22
33
44
55
66
77
100
11
22
33
100
55
66
77

In [113]:
a = bytes([111,222,223,224,225])

print(type(a))
print(a)
for i in a:
    print(i)

<class 'bytes'>
b'o\xde\xdf\xe0\xe1'
111
222
223
224
225

In [114]:
ba = bytearray([11,22,33,44,55,66,77,88,99])
print(type(ba))
print(ba)
for i in ba:
    print(i)
ba[3] = 100
print(type(ba[3]))
print(ba[3])

<class 'bytearray'>
bytearray(b'\x0b\x16!,7BMXc')
11
22
33
44
55
66
77
88
99
<class 'int'>
100

### list

In [115]:
l_i = [1,2,3,4,5,6,7]
print(type(l_i))
print(l_i)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7]

In [116]:
l_f = [1.1,1.2,1.3,1.4,1.5]
print(type(l_f))
print(l_f)

<class 'list'>
[1.1, 1.2, 1.3, 1.4, 1.5]

In [117]:
l_m = [1,2,3,3.4,3.5,'lili','hi']
print(type(l_m))
print(l_m)

<class 'list'>
[1, 2, 3, 3.4, 3.5, 'lili', 'hi']

In [118]:
l_str = ['aa','bb','cc','dd','ee']
print(type(l_str))
print(l_str)

<class 'list'>
['aa', 'bb', 'cc', 'dd', 'ee']

In [121]:
list1 = [11,22,33,44,55,66]
print(type(list1))
print(list1)
list1[2]
print(list1[0:3])
print(list1[-4:-1])

<class 'list'>
[11, 22, 33, 44, 55, 66]
[11, 22, 33]
[33, 44, 55]

In [136]:
list2 = [11,12,13,14,15,16,17,18]
print(type(list2))
print(list2)
list2.append(19)
print(list2)
list2.remove(19)
print(list2)
list3 = list2.copy()
print(list3)
list3.extend([20])
print(list3)
print(list3.index(12))
print(list3.index(15))
list3.insert(3,40)
print(list3)
list3.pop()
print(list3)
list3.reverse()
print(list3)
list3.sort(reverse = False)
print(list3)
list3.sort(reverse = True)
print(list3)

<class 'list'>
[11, 12, 13, 14, 15, 16, 17, 18]
[11, 12, 13, 14, 15, 16, 17, 18, 19]
[11, 12, 13, 14, 15, 16, 17, 18]
[11, 12, 13, 14, 15, 16, 17, 18]
[11, 12, 13, 14, 15, 16, 17, 18, 20]
1
4
[11, 12, 13, 40, 14, 15, 16, 17, 18, 20]
[11, 12, 13, 40, 14, 15, 16, 17, 18]
[18, 17, 16, 15, 14, 40, 13, 12, 11]
[11, 12, 13, 14, 15, 16, 17, 18, 40]
[40, 18, 17, 16, 15, 14, 13, 12, 11]

In [146]:
list5 = [10,20,30,40,50,60,70,80,90]
print(type(list5))
print(list5)
list5.append(100)
print(list5)
list5.remove(100)
print(list5)
list6 = list5.copy()
print(list6)
list6.extend([20])
print(list6)
print(list6.index(50))
list6.insert(4,400)
print(list6)
list6.pop()
print(list6)
list6.sort(reverse = True)
print(list6)
list6.sort(reverse = False)
print(list6)

<class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 20]
4
[10, 20, 30, 40, 400, 50, 60, 70, 80, 90, 20]
[10, 20, 30, 40, 400, 50, 60, 70, 80, 90]
[400, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 400]

In [153]:
tup =tuple((1,2,3,4,5,6))
print(tup)
tup.count(5)
tup.count(2)

(1, 2, 3, 4, 5, 6)

1

In [163]:
tup = tuple((1,2,3,4,5))
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [169]:
tup=('aa','bb','cc','dd','ee')
print(type(tup))
print(tup)
print(tup[3])
print(tup[0:3])
print(tup[-2:-0])

<class 'tuple'>
('aa', 'bb', 'cc', 'dd', 'ee')
dd
('aa', 'bb', 'cc')
()

In [2]:
list1 = [1,2,3,4,5,6,7,8,9]
print(type(list1))
print(list1)
t_list1= tuple(list1)
print(type(t_list1))
print(t_list1)
tup = tuple([11,22,33,44,55,66])
print(type(tup))
print(tup)
l_tup= list(tup)
print(type(l_tup))
print(l_tup)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
(11, 22, 33, 44, 55, 66)
<class 'list'>
[11, 22, 33, 44, 55, 66]

In [1]:
tup=tuple((1,2,3,4,5,6,7,8,9,0))
print(type(tup))
print(tup)
list1=list(tup)
print(type(list1))
print(list1)
list1.append(10)
print(list1)
tup=tuple(list1)
print(tup)
list1=list(tup)
print(list1)
list1.remove(9)
print(list1)
list1.insert(3,30)
print(list1)
list2=list1.copy()
print(list2)
print(list1)
list1.reverse()
print(list1)
list1.sort(reverse=True)
print(list1)
list1.sort(reverse=False)
print(list1)
list1.pop()
print(list1)
tup=tuple(list1)
print(tup)
list1=list(tup)
print(list1)
list1.extend([11])
print(list1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 0, 10]
[1, 2, 3, 30, 4, 5, 6, 7, 8, 0, 10]
[1, 2, 3, 30, 4, 5, 6, 7, 8, 0, 10]
[1, 2, 3, 30, 4, 5, 6, 7, 8, 0, 10]
[10, 0, 8, 7, 6, 5, 4, 30, 3, 2, 1]
[30, 10, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 30]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11]

In [12]:
tup = tuple((1,2,3,4,5,6))
print(type(tup))
print(tup)
l_tup = list(tup)
print(type(l_tup))
print(l_tup)
l_tup.append(7)
print(l_tup)
l_tup.remove(7)
print(l_tup)
list1 = l_tup.copy()
print(list1)
list1.extend([2,20])
print(list1)
print(list1.index(2))
list1.insert(2,20)
print(list1)
list1.pop()
print(list1)
list1.sort(reverse = True)
print(list1)
list1.sort(reverse = False)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'list'>
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 2, 20]
1
[1, 2, 20, 3, 4, 5, 6, 2, 20]
[1, 2, 20, 3, 4, 5, 6, 2]
[20, 6, 5, 4, 3, 2, 2, 1]

In [19]:
tup = (1.1,1.2,1.3,1.4,1.5)
print(type(tup))
print(tup)
tup = ('apple','kiwi','cherry','mango','berry','lemon')
print(type(tup))
print(tup)
print(tup[0:4])
print(tup[-4:-1])
print(tup[3:1])
print(tup)

<class 'tuple'>
(1.1, 1.2, 1.3, 1.4, 1.5)
<class 'tuple'>
('apple', 'kiwi', 'cherry', 'mango', 'berry', 'lemon')
('apple', 'kiwi', 'cherry', 'mango')
('cherry', 'mango', 'berry')
()

### set

In [48]:
s = {1,2,3,4,5,6}
print(type(s))
print(s)
s1 = {1,2,3,4,5,6,'hi','hello'}
print(type(s1))
print(len(s1))
s = set([1,2,3,4,5,6,7,8])
print(type(s))
print(s)
s = {'aa','bb','cc','dd','ee','ff'}
print(type(s))
print(s)
'aa' in s
'zz' not in s
print(s)
s.add('gg')
print(s)
s.add('hh')
print(s)
s = {'aa','bb','cc','dd','gg','hh'}
print(type(s))
print(s)
s1 = {'xx','yy','zz'}
s.update(s1)
print(s)
s.remove('gg')
print(s)
s.pop()
print(s)
s.discard('bb')
print(s)
s1 = {'siddhesh','renu','lili','kuku'}
print(s1)
s2 = {1,2,3,4}
s3 = {3,4,5,6,7}
print(s2)
print(s3)
s4 = s2.union(s3)
print(s4)
s4 = s2.intersection(s3)
print(s4)
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5}
s3 = {9,10,11,12}
print(s1)
print(s2)
print(s3)
res= s1.intersection_update(s2)
print(res)

<class 'set'>
{1, 2, 3, 4, 5, 6}
<class 'set'>
8
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>
{'ee', 'cc', 'aa', 'dd', 'bb', 'ff'}
{'ee', 'cc', 'aa', 'dd', 'bb', 'ff'}
{'gg', 'ee', 'cc', 'aa', 'dd', 'bb', 'ff'}
{'hh', 'gg', 'ee', 'cc', 'aa', 'dd', 'bb', 'ff'}
<class 'set'>
{'hh', 'cc', 'aa', 'dd', 'bb', 'gg'}
{'hh', 'yy', 'cc', 'bb', 'gg', 'zz', 'xx', 'aa', 'dd'}
{'hh', 'yy', 'cc', 'bb', 'zz', 'xx', 'aa', 'dd'}
{'yy', 'cc', 'bb', 'zz', 'xx', 'aa', 'dd'}
{'yy', 'cc', 'zz', 'xx', 'aa', 'dd'}
{'siddhesh', 'lili', 'kuku', 'renu'}
{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{9, 10, 11, 12}
None

In [49]:
s3 = {11,22,33,44}
s4 = {1,2,3,4,5,6}
s5 = {11,22,33,44}
print(s3)
print(s4)
print(s5)
s3.intersection_update(s5)
print(s3)

{33, 11, 44, 22}
{1, 2, 3, 4, 5, 6}
{33, 11, 44, 22}
{33, 11, 44, 22}

In [65]:
s = {1,2,3,4,5}
print(type(s))
print(s)
s = set(['apple','kiwi','mango','lili'])
print(type(s))
print(s)
'kiwi' in s
s.add('lemon')
print(s)
s = {1,2,3,4,5,6}
print(type(s))
print(s)
s1 = {11,22,33,44,55}
s1.update(s)
print(s1)
s1.remove(22)
print(s1)
s1.pop()
print(s1)
s1.discard(11)
print(s1)
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1)
print(s2)
s = s1.union(s2)
print(s)
s = s1.intersection(s2)
print(s)
s3 = {1,2,3,4}
s4 = {11,22,33,44}
s5 = {1,2,3,4}
print(s3)
print(s4)
print(s5)
s3.intersection_update(s5)
print(s3)

<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>
{'lili', 'mango', 'apple', 'kiwi'}
{'lili', 'apple', 'lemon', 'mango', 'kiwi'}
<class 'set'>
{1, 2, 3, 4, 5, 6}
{33, 1, 2, 3, 4, 5, 6, 11, 44, 22, 55}
{33, 1, 2, 3, 4, 5, 6, 11, 44, 55}
{1, 2, 3, 4, 5, 6, 11, 44, 55}
{1, 2, 3, 4, 5, 6, 44, 55}
{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 3, 4}
{33, 11, 44, 22}
{1, 2, 3, 4}
{1, 2, 3, 4}

### dictionary

In [84]:
dict1 = {
    'name':'lili',
    'sub':'cs',
    'age': 40,
    'lname':'varma'
}
print(type(dict1))
print(dict1)
print(dict1['sub'])
print(dict1['age'])
print(dict1)
print(dict1.get('sub'))
print(dict1.get('age'))
print(dict1)
a = dict1.keys()
print(a)
b = dict1.values()
print(b)
dict1 ['city'] = 'pune'
print(dict1)
a = dict1.items()
print(a)
print(dict1)
print(dict1.items())
dict1.update({
    'mail': 'abc.com',
    'mob': 9876567865
})
print(dict1.items())

<class 'dict'>
{'name': 'lili', 'sub': 'cs', 'age': 40, 'lname': 'varma'}
cs
40
{'name': 'lili', 'sub': 'cs', 'age': 40, 'lname': 'varma'}
cs
40
{'name': 'lili', 'sub': 'cs', 'age': 40, 'lname': 'varma'}
dict_keys(['name', 'sub', 'age', 'lname'])
dict_values(['lili', 'cs', 40, 'varma'])
{'name': 'lili', 'sub': 'cs', 'age': 40, 'lname': 'varma', 'city': 'pune'}
dict_items([('name', 'lili'), ('sub', 'cs'), ('age', 40), ('lname', 'varma'), ('city', 'pune')])
{'name': 'lili', 'sub': 'cs', 'age': 40, 'lname': 'varma', 'city': 'pune'}
dict_items([('name', 'lili'), ('sub', 'cs'), ('age', 40), ('lname', 'varma'), ('city', 'pune')])
dict_items([('name', 'lili'), ('sub', 'cs'), ('age', 40), ('lname', 'varma'), ('city', 'pune'), ('mail', 'abc.com'), ('mob', 9876567865)])

In [95]:
s = {
    'name':'lili',
    'age': 20,
    'sub': 'cs',
    'city':'pune'
}
print(type(s))
print(s)
print(s['sub'])
print(s.get('age'))
a = s.keys()
print(a)
b = s.values()
print(b)
s['marks'] = 80
print(s)
print(s.items())
print(s)
print(s.items())
s.update({
    'mail': 'abc.com',
    'mob': 9878678987
})
print(s.items())

<class 'dict'>
{'name': 'lili', 'age': 20, 'sub': 'cs', 'city': 'pune'}
cs
20
dict_keys(['name', 'age', 'sub', 'city'])
dict_values(['lili', 20, 'cs', 'pune'])
{'name': 'lili', 'age': 20, 'sub': 'cs', 'city': 'pune', 'marks': 80}
dict_items([('name', 'lili'), ('age', 20), ('sub', 'cs'), ('city', 'pune'), ('marks', 80)])
{'name': 'lili', 'age': 20, 'sub': 'cs', 'city': 'pune', 'marks': 80}
dict_items([('name', 'lili'), ('age', 20), ('sub', 'cs'), ('city', 'pune'), ('marks', 80)])
dict_items([('name', 'lili'), ('age', 20), ('sub', 'cs'), ('city', 'pune'), ('marks', 80), ('mail', 'abc.com'), ('mob', 9878678987)])

In [96]:
set1 = {1,2,3,4,5}
print(type(set1))
s = frozenset(set1)
print(s)

<class 'set'>
frozenset({1, 2, 3, 4, 5})

In [100]:
set1 = {1,2,3,4,5,6}
print(type(set1))
print(set1)
s = frozenset(set1)
print(s)
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print(s1)
print(s2)
s3 = s1.union(s2)
print(s3)
s3 = s1.intersection(s2)
print(s3)
s4 = s1.copy()
print(s4)

<class 'set'>
{1, 2, 3, 4, 5, 6}
frozenset({1, 2, 3, 4, 5, 6})
{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2, 3, 4}

### opertors

In [7]:
a = 10
b = 20
c = a+b
print(c)
a = 20
b = 40
c = a-b
print(c)
a = 20
b = 50
c = a*b
print(c)
a = 20
b = 30
c = a/b
print(c)
c = a**b
print(c)
c = a//b
print(c)
c = a%b
print(c)

30
-20
1000
0.6666666666666666
1073741824000000000000000000000000000000
0
20

In [14]:
a = 100
a +=100
print(a)
a -=10
print(a)
a *=2
print(a)
a /=2
print(a)
a **=2
print(a)
a //=5
print(a)
a %=5
print(a)

200
190
380
190.0
36100.0
7220.0
0.0

In [16]:
a = 100
b= 50
c=100
print(a==b)
print(a!=c)
print(a<b)
print(c>b)
print(a>=c)
print(b<=a)

False
False
False
True
True
True

In [18]:
a=100
b=200
print(a<b)and(b<a)
print(b<a)or(a>b)
print(not(a>b))

True
False
True

In [19]:
a = 10
b = 10
print(id(a))
print(id(b))
print(a is b)

2643817529872
2643817529872
True

In [21]:
a = 20
b = 10
print(id(a))
print(id(b))
print(a is  b)

2643817530192
2643817529872
False

In [23]:
list1 = [11,22,33,44,55,66]
print(type(list1))
print(list1)
print(11 in list1)
print(22 not in list1)

<class 'list'>
[11, 22, 33, 44, 55, 66]
True
False

In [24]:
tup = [1,2,3,4,5,6,7]
print(type(tup))
print(tup)
print(2 in tup)
print(5 not in tup)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7]
True
False

In [26]:
dict1 = {
    'name': 'lili',
    'age': 30,
    'city': 'pune'
}
print(dict1)
print('age' in dict1)
print('sub' in dict1)

{'name': 'lili', 'age': 30, 'city': 'pune'}
True
False

In [29]:
set1 = {111,222,333,444}
print(type(set1))
print(set1)
print(111 not in set1)
print(55 in set1)
print(333 in set1)

<class 'set'>
{444, 333, 222, 111}
False
False
True

In [30]:
a = 10
b = 20
c = a&b
print(c)

0

In [31]:
a = 20
b = 40
c = a|b
print(c)

60

In [33]:
b = 50
print(~(b))

-51

In [34]:
a = 10
b = a>>3
print(b)

1

In [35]:
a = 20
b = a<<5
print(b)

640

In [36]:
a = 20
b = 40
c = a^b
print(c)

60

### conditional statement

In [37]:
a = 10
b = 20
if a<b:
    print('a is less')

a is less

In [39]:
a = 20
b = 30
if a==b:
    print('a is small')
else:
    print('b is big')

b is big

In [40]:
a = 100
b = 100
if a!=b:
    print('a is less than b')
elif a==b:
    print('a and b equal')
else:
    print('a and b not equal')

a and b equal

In [42]:
a = 10
b = 20
if a<b:
    print('a is less')

a is less

In [54]:
x= 150
x = int(input('enter the number'))
if x==30:
    print('x is less')

enter the number10

### looping statement

In [59]:
a =1
while a<20:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [60]:
b = 1
while b<25:
    print(b)
    b = b+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [61]:
a = 1
while a<20:
    print(a)
    if a ==5:
        break
    a =a+1

1
2
3
4
5

In [62]:
a = 1
while a<25:
    print(a)
    if a==10:
        break
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [64]:
a = 1
while a<20:
    if a==5:
        a=a+1
        continue
    print(a)
    a =a+1

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [65]:
a = 20
while a>1:
    if a==9:
        a=a-1
        continue
    print(a)
    a =a-1

20
19
18
17
16
15
14
13
12
11
10
8
7
6
5
4
3
2

In [67]:
a = 0
while a<30:
    if a==3:
        a =a+1
        pass
    print(a)
    a=a+1

0
1
2
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [68]:
a =1
while a<15:
    if a==5:
        a =a+1
        continue
    print(a)
    a =a+1
else:
    print('hello loop')

1
2
3
4
6
7
8
9
10
11
12
13
14
hello loop

In [71]:
l = [11,22,33,44,55,66]
print(l)
print('while on list')
a = 6
while a<len(l):
    print(l[a])
    a =a+1

[11, 22, 33, 44, 55, 66]
while on list

In [72]:
a = [1,2,3,4,5,6,7,8]
print(a)
print('while on list')
b = 0
while b<len(a):
    print(a[b])
    b = b+1

[1, 2, 3, 4, 5, 6, 7, 8]
while on list
1
2
3
4
5
6
7
8

In [75]:
s = ('aa','bb','cc','dd')
print(s)
print('while on list')
a =0
while a<len(s):
    print(s[a])
    a = a+1

('aa', 'bb', 'cc', 'dd')
while on list
aa
bb
cc
dd

In [86]:
tup = ('apple','kiwi','lemon','cherry')
print(tup)
print('while on list')
a = 0
while a<len(tup):
    print(tup[a])
    a = a+1

('apple', 'kiwi', 'lemon', 'cherry')
while on list
apple
kiwi
lemon
cherry

In [87]:
tup = ('aa','bb','cc','dd','ee')
print(tup)
print('while on list')
a = 0
while a<len(tup):
    print(tup[a])
    a =a+1

('aa', 'bb', 'cc', 'dd', 'ee')
while on list
aa
bb
cc
dd
ee

In [88]:
for a in tup:
    if a =='aa':
        print(a)

aa

In [90]:
list1 = ['mango','kiwi','lemon','cherry','berry']
print(type(list1))
print(list1)
print(len(list1))
for x in list1:
    if x =='kiwi':
        print(x)

<class 'list'>
['mango', 'kiwi', 'lemon', 'cherry', 'berry']
5
kiwi

In [92]:
str1 = 'this is string'
print(str1)
print(len(str1))
for a in str1:
    if a =='s':
        print(a)

this is string
14
s
s
s

In [95]:
str1 = 'this is a string'
print(str1)
print(len(str1))
for a in str1:
    if a =='h':
        continue
    print(a)

this is a string
16
t
i
s

i
s

a

s
t
r
i
n
g

In [100]:
tup =(1,2,3,4,5,6,7,8)
print(tup)
print(len(tup))
for a in tup:
    if a ==3:
        pass
    print(a)

(1, 2, 3, 4, 5, 6, 7, 8)
8
1
2
3
4
5
6
7
8

In [113]:
dict1 = {
    'name':'lili',
    'sub':'cs',
    'age': 40,
    'city':'pune'
}
print(dict1)
print(len(dict1))
for a in dict1:
    if a =='sub':
        print(a)
for a in dict1.values():
    print(a)
for b in dict1.keys():
    print(b)
for a in dict1.items():
    print(a)
for a,b in dict1.items():
    print(a,":",b)

{'name': 'lili', 'sub': 'cs', 'age': 40, 'city': 'pune'}
4
sub
lili
cs
40
pune
name
sub
age
city
('name', 'lili')
('sub', 'cs')
('age', 40)
('city', 'pune')
name : lili
sub : cs
age : 40
city : pune

In [118]:
d = {
    'name': 'lili',
    'age':40,
    'city': 'pune',
    'sub': 'cs'
}
print(d)
print(len(d))
for a in d:
    print(a)
for b in d.keys():
    print(b)
for c in d.values():
    print(c)
for e in d.items():
    print(e)
for b,c in d.items():
    print(b,":",c)

{'name': 'lili', 'age': 40, 'city': 'pune', 'sub': 'cs'}
4
name
age
city
sub
name
age
city
sub
lili
40
pune
cs
('name', 'lili')
('age', 40)
('city', 'pune')
('sub', 'cs')
name : lili
age : 40
city : pune
sub : cs

In [119]:
set1 = {'aa','bb','cc','dd','ee','ff','gg','hh'}
print(set1)
print(len(set1))
for a in set1:
    print(a)
for b in set1:
    print(b)
for c in set1:
    print(c)

{'aa', 'ee', 'bb', 'cc', 'gg', 'dd', 'ff', 'hh'}
8
aa
ee
bb
cc
gg
dd
ff
hh
aa
ee
bb
cc
gg
dd
ff
hh
aa
ee
bb
cc
gg
dd
ff
hh

### range

In [120]:
for a in range(5):
    print(a)

0
1
2
3
4

In [122]:
for b in range(1,10):
    print(b)

1
2
3
4
5
6
7
8
9

In [123]:
for c in range(1,20,5):
    print(c)

1
6
11
16

In [124]:
for a in range(1,20,2):
    print(a)

1
3
5
7
9
11
13
15
17
19

In [126]:
for a in range(100,255,5):
    print(a)

100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250

In [127]:
for a in range(1,15,1):
    print(a)
else:
    print('hello')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
hello

In [128]:
for a in range(1,15,4):
    print(a)
else:
    print('hi')

1
5
9
13
hi

In [129]:
a = int(input('enter the number'))
b = int(input('enter the number'))
c = a+b
print(c)

enter the number20
enter the number40
60

In [132]:
a = int(input('enter the number'))
if a>=90:
    print('A greade')
elif a>=75:
    print('b greade')
elif a>= 60:
    print('c grede')
else:
    print('pass')

enter the number90
A greade

In [134]:
a = int(input('enter the number'))
b = int(a)
type(b)

enter the number20

int

In [136]:
a = int(input('enter the number'))
b = int(input('enter the number'))
c = int(input('enter the number'))
d = a*b
e = b-a
print(d)
print(e)

enter the number30
enter the number70
enter the number20
2100
40

In [1]:
a =10
b = 20
if a<b : print('a is less')

a is less

In [4]:
a =10
b = 10
print('a is small') if a==b  else print('a and b equal')

a is small

### function

In [1]:
def display():
    print('hello')
display()

hello

In [2]:
def display():
    print('hello')
display()

hello

In [3]:
print('hello')
def display():
    print('hey')
    print('hii')
print('hi function')
display()
print('hello fun')

hello
hi function
hey
hii
hello fun

In [4]:
print('hello')
print('hey')
def display():
    print('hii')
    print('hello fun')
print('hey fun')
display()
print('hii function')

hello
hey
hey fun
hii
hello fun
hii function

In [6]:
def display(a):
    print(a)
a = 100
display(a)

100

In [7]:
def display(a,b):
    print(a)
    print(b)
a = 10
b = 20
display(a,b)

10
20

In [8]:
def display(a,b):
    c = a+b
    print(c)
a = 30
b = 50
display(a,b)

80

In [9]:
def display(x,y):
    z = x*y
    print(z)
x = int(input('enter the number'))
y = int(input('enter the number'))
display(x,y)

enter the number70
enter the number6
420

In [10]:
def display(a,b):
    c = a+b
    return c
a = 100
b = 200
result = display(a,b)
print(result)

300

In [11]:
def add(x,y):
    z = x +y
    return z
x = 400
y = 600
a = add(x,y)
print(a)

1000

In [12]:
def mul(x,y):
    z = x*y
    return z
x = 40
y = 30
a = mul(x,y)
print(a)

1200

In [13]:
def display(*letter):
    print(letter)
    l = len(letter)
    print(l)
    for i in letter:
        print(i)
display('a','b','c','d','e')

('a', 'b', 'c', 'd', 'e')
5
a
b
c
d
e

In [14]:
def display(*letter):
    print(letter)
    l = len(letter)
    print(l)
    for  i in letter:
        print(i)
display('aa','bb','cc','dd','ee','ff')

('aa', 'bb', 'cc', 'dd', 'ee', 'ff')
6
aa
bb
cc
dd
ee
ff

In [16]:
def display(**name):
    print(name)
    print(name['fname'])
    print(name['lname'])
display(fname = 'lili', lname = 'kuku')

{'fname': 'lili', 'lname': 'kuku'}
lili
kuku

In [17]:
def display(**fname):
    print(fname)
    print(fname['veg'])
    print(fname['nonveg'])
display(veg = 'chili kopta', nonveg = 'chiken65')

{'veg': 'chili kopta', 'nonveg': 'chiken65'}
chili kopta
chiken65

In [18]:
def display(email = 'abc@gmail.com'):
    print(email)
print('alternate mail')
display('vst@gmail,com')
display()

alternate mail
vst@gmail,com
abc@gmail.com

In [19]:
def display(mail = 'xyz@gmail.com'):
    print(mail)
print('alternate mail')
display('abc@.com')
display()

alternate mail
abc@.com
xyz@gmail.com

### lambda function

In [20]:
square = lambda a : a*2
square(3)

6

In [21]:
add = lambda a,b,c: a+b+c
add(22,33,44)

99

In [22]:
mul = lambda x,y : x*y
mul(30,5)

150

In [23]:
def fun(n):
    print(n)
    return (lambda a : a+n)
myfun = fun(20)
myfun(30)

20

50

In [25]:
def fun(a,b):
    print(a)
    print(b)
    return (lambda x : x+a+b)
myfun = fun(30,40)
myfun(200)

30
40

270

In [26]:
def myfun(x,y):
    print(x)
    print(y)
    return (lambda z : z*x*y)
fun = myfun(20,40)
fun(100)

20
40

80000

In [27]:
double = lambda a : a*4
print(double(20))

80

In [28]:
tripple = lambda x : x/5
print(tripple(30))

6.0

### class

In [30]:
class abc:
    name = 'vaishnavi'
a = abc()
print(a.name)

vaishnavi

In [31]:
class xyz:
    name = 'thorat'
o = xyz()
print(o.name)

thorat

In [33]:
class s:
    name = 'lili',
    sub = 'cs',
    age = 30
a = s()
print(a.name)
print(a.sub)
print(a.age)

('lili',)
('cs',)
30

In [35]:
class stud:
    def __init__(self,nm,lnm):
        self.name = nm
        self.lname = lnm
    def display(self):
        print(self.name)
        print(self.lname)
s = stud('vaishnavi','thorat')
print(s.name)
print(s.lname)
s1 = stud('lili','jain')
print(s1.name)
print(s1.lname)

vaishnavi
thorat
lili
jain

In [36]:
class emp:
    def __init__(self,nm,sub,age,c):
        self.name = nm
        self.sub = sub
        self.age = age
        self.city = c
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.age)
        print(self.city)
c = emp('vaishnavi','cs',30,'pune')
print(c.name)
print(c.sub)
print(c.age)
print(c.city)

vaishnavi
cs
30
pune

In [39]:
class stud:
    def __init__(self,nm,rn,sub,age,c):
        self.name = nm
        self.rollno = rn
        self.sub = sub
        self.age = age
        self.city = c
    def display(self):
        print(self.name)
        print(self.rollno)
        print(self.sub)
        print(self.city)
    def change(self,age):
        self.age = age
        self.display()
a = stud('lili',40,'cs',30,'delhi')
a.display()
b = 30
a.change(b)
a.display()

lili
40
cs
delhi
lili
40
cs
delhi
lili
40
cs
delhi

In [46]:
class teacher:
    def __init__(self,nm,mnm,lnm):
        self.name = nm
        self.mname = mnm
        self.lname = lnm
        
    def display(self):
        print(self.name)
        print(self.mname)
        print(self.lname)
    def change (self,lnm):
        self.lname = lnm
        self.display()
        
t = teacher('lili','kuku','jain')
t.display()
t1 = 'varma'
t.change(t1)

lili
kuku
jain
lili
kuku
varma

### inheritance

In [47]:
class abc:
    def __init__(self,nm,lnm):
        self.name = nm
        self.lname = lnm
    def display(self):
        print(self.name)
        print(self.lname)
class bsc(abc):
    pass
a = abc('lili','kuku')
a.display()

lili
kuku

In [48]:
class stud:
    def __init__(self,nm,sub,a):
        self.name = nm
        self.sub = sub
        self.age = a
    def display(self):
        print(self.name)
        print(self.sub)
        print(self.age)
class teacher(stud):
    pass
s = stud ('lili','cs',43)
s.display()

lili
cs
43

In [49]:
class s:
    def __init__(self,nm,lnm):
        self.name = nm
        self.lname = lnm
    def display(self):
        print(self.name)
        print(self.lname)
class st:
    def __init__(self,nm,lnm,sub):
        self.name = nm
        self.lname = lnm
        self.sub = sub
    def display(self):
        print(self.name)
        print(self.lname)
        print(self.sub)
a = st('lili','jain','cs')
a.display()

lili
jain
cs

In [52]:
class a :
    def __init__(self,nm,lnm,mnm):
        self.name = nm
        self.lname = lnm
        self.mname = mnm
    def display(self):
        print(self.name)
        print(self.lname)
        print(self.mname)
class b:
    def __init__(self,nm,lnm,mnm,sub):
        a.__init__(self,nm,lnm,mnm)
        self.sub = sub
    def display(self):
        print(self.name)
        print(self.lname)
        print(self.mname)
        print(self.sub)
c = b('lili','kuku','jojo','cs')
c.display()

lili
kuku
jojo
cs

In [54]:
class b:
    def __init__(self,f1,f2,f3):
        self.fname = f1
        self.fname1 = f2
        self.fname2 = f3
    def display(self):
        print(self.fname)
        print(self.fname1)
        print(self.fname2)
class c:
    def __init__(self,f1,f2,f3,f4):
        b. __init__(self,f1,f2,f3)
        self.fname3 = f4
    def display(self):
        print(self.fname)
        print(self.fname1)
        print(self.fname2)
        print(self.fname3)
x= c('mango','kiwi','lemon','cherry')
x.display()

mango
kiwi
lemon
cherry

### iteration

In [57]:
tup = (11,22,33,44,55,66)
print(type(tup))
print(tup)
itr = iter(tup)
print(next(itr))
print(next(itr))
for i in tup:
    print(i)

<class 'tuple'>
(11, 22, 33, 44, 55, 66)
11
22
11
22
33
44
55
66

In [58]:
list1 = [1,2,3,4,5,6,7]
print(type(list1))
print(list1)
itr = iter(list1)
print(next(itr))
print(next(itr))

<class 'list'>
[1, 2, 3, 4, 5, 6, 7]
1
2

In [60]:
dict1 = {
    'name':'lili',
    'sub': 'cs',
    'city': 'pune',
    'age': 40
}
print(dict1)
print(type(dict1))
itr = iter(dict1)
print(next(itr))
print(next(itr))
for i in dict1.items():
    print(i)

{'name': 'lili', 'sub': 'cs', 'city': 'pune', 'age': 40}
<class 'dict'>
name
sub
('name', 'lili')
('sub', 'cs')
('city', 'pune')
('age', 40)

In [62]:
str1 = 'hello world'
print(type(str1))
print(str1)
itr = iter(str1)
print(next(itr))
for i in str1:
    print(i)

<class 'str'>
hello world
h
h
e
l
l
o

w
o
r
l
d

In [63]:
set1 = {'aa','bb','cc','dd','ee'}
print(type(set1))
print(set1)
itr = iter(set1)
print(next(itr))
print(next(itr))

<class 'set'>
{'bb', 'cc', 'dd', 'ee', 'aa'}
bb
cc

In [66]:
class counter:
    def __iter__(self):
        self. a = 1
        return self
    def __next__(self):
        b = self.a
        self.a+=1
        if b ==10:
            raise StopIteration
        return b
count = counter()

itr = iter(count)

for i in itr:
    print(i)

1
2
3
4
5
6
7
8
9

In [67]:
class count:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        b = self.a
        self.a +=1
        if b ==26:
            raise StopIteration
        return b
c = count()
itr =iter(c)
for i in itr:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [69]:
class count:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        b = self.a
        self.a +=1
        if b ==21:
            raise StopIteration
        return b    
c = count()
itr = iter(c)
for i in itr:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### scope of variable

In [74]:
a = 100
b = 200
def add():
    a = 10
    b = 20
    print(a)
    print(b)
    return a+b

add()
print(a)
print(b)

10
20
100
200

In [75]:
x = 20
y = 40
def mul():
    x = 100
    y = 30
    print(x)
    print(y)
    return x*y
mul()
print(x)
print(y)

100
30
20
40

In [76]:
a = 100
b =200
def sub():
    a = 20
    b = 40
    print(a)
    print(b)
    return sub
sub()
print(a)
print(b)

20
40
100
200

In [77]:
a = 100
b = 200
def add():
    a = 20
    b = 40
    global pi
    pi = 3.14
    print(a)
    print(b)
    return a+b
def display(x,y):
    print(x)
    print(y)
    print(pi)
add()
display(a,b)
print(a)
print(b)
print(pi)

20
40
100
200
3.14
100
200
3.14

In [79]:
x = 200
y = 400
def mul():
    x = 10
    y = 20
    global pi
    pi = 3.14
    print(a)
    print(b)
    return a+b
def display(a,b):
    print(a)
    print(b)
    print(pi)
mul()
display(x,y)
print(x)
print(y)
print(pi)

100
200
200
400
3.14
200
400
3.14

In [80]:
a = 10
b = 20
def add():
    a =100
    b = 200
    global pi
    pi = 3.14
    print(a)
    print(b)
    return a+b
def display(x,y):
    print(x)
    print(y)
    print(pi)
add()
display(a,b)
print(a)
print(b)
print(pi)

100
200
10
20
3.14
10
20
3.14

### datetime

In [85]:
import datetime
print(datetime.MAXYEAR)
print(datetime.MINYEAR)

9999
1

In [88]:
a = datetime.datetime.now()
print(a.year)
print(a.month)
print(a.day)

2023
8
17

In [89]:
a = datetime.datetime(2022,3,1)
print(a)

2022-03-01 00:00:00

In [98]:
a = datetime.datetime.now()
print(a.year)
print(a.strftime('%A'))
print(a.strftime('%a'))
print(a.strftime('%Y'))
print(a.strftime('%y'))
print(a.strftime('%S'))
print(a.strftime('%H'))
print(a.strftime('%B'))
print(a.strftime('%b'))

2023
Thursday
Thu
2023
23
53
15
August
Aug

In [110]:
import datetime
print(datetime.MAXYEAR)
print(datetime.MINYEAR)
a = datetime.datetime(2020,11,2)
print(a)
b = datetime.datetime.now()
print(b)
c = datetime.datetime.now()
print(c.month)
print(c.strftime('%A'))
print(c.strftime('%a'))
print(c.strftime('%B'))
print(c.strftime('%b'))
print(c.strftime('%w'))
print(c.strftime('%H'))
print(c.strftime('%Y'))

9999
1
2020-11-02 00:00:00
2023-08-17 15:35:43.738014
8
Thursday
Thu
August
Aug
4
15
2023

In [111]:
import platform
platform.system()

'Windows'

In [112]:
import platform
platform.system()

'Windows'

### math module

In [113]:
a = min(2,3,4,5)
print(a)

2

In [114]:
b = max(22,33,44)
print(b)

44

In [115]:
c = abs(-10)
print(c)

10

In [116]:
d = pow(20,3)
print(d)

8000

In [124]:
import math as m
a = 10
b = m.sqrt(a)
print(b)
a = m.sqrt(100)
print(a)
b = m.floor(10.2)
print(b)
c = m.ceil(11.2)
print(c)
d = m.e
print(d)
e = m.pi
print(e)
a = m.nan
print(a)
print(type(a))

3.1622776601683795
10.0
10
12
2.718281828459045
3.141592653589793
nan
<class 'float'>

### json

In [126]:
import json
a = '{"name":"lili","sub":"cs","city":"pune"}'
print(type(a))
print(a)
b = json.loads(a)
print(type(b))
print(b)

<class 'str'>
{"name":"lili","sub":"cs","city":"pune"}
<class 'dict'>
{'name': 'lili', 'sub': 'cs', 'city': 'pune'}

In [129]:
a = {
    'name': 'lili',
    'sub': 'cs',
    'age': 30
}
print(a)
print(type(a))
b = json.dumps(a)
print(type(b))
print(b)

{'name': 'lili', 'sub': 'cs', 'age': 30}
<class 'dict'>
<class 'str'>
{"name": "lili", "sub": "cs", "age": 30}

In [130]:
b = ('sham',20,30,'riya')
print(type(b))
print(b)
c = json.dumps(b)
print(type(c))
print(c)

<class 'tuple'>
('sham', 20, 30, 'riya')
<class 'str'>
["sham", 20, 30, "riya"]

In [131]:
tup = (1,2,3,4,5,6,7)
print(type(tup))
print(tup)
s = json.dumps(tup)
print(type(s))
print(s)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)
<class 'str'>
[1, 2, 3, 4, 5, 6, 7]

In [134]:
import json
a = {
    'name': 'lili',
    'sub': 'cs',
    'age':30,
    'city':'pune',
    'veg': True,
    'nonveg': False,
    'model':'tata'
}
print(type(a))
print(a)
print(a['age'])
print(a['veg'])
print(json.dumps(a, indent = 4, separators = ('-','='), sort_keys = True))

<class 'dict'>
{'name': 'lili', 'sub': 'cs', 'age': 30, 'city': 'pune', 'veg': True, 'nonveg': False, 'model': 'tata'}
30
True
{
    "age"=30-
    "city"="pune"-
    "model"="tata"-
    "name"="lili"-
    "nonveg"=false-
    "sub"="cs"-
    "veg"=true
}

In [137]:
import re
a = 'this is python'
b = re.search('^this.*python$',a)
if b:
    print('yes match')
else:
    print('no match')

yes match

In [141]:
import re
x = 'my name is lili'
y = re.search('^my.*lili$',x)
if y:
    print('no match')
else:
    print('yes')

no match

In [143]:
a = 'my name is lili my age is 20'
b = re.search('^my.*20$',a)
print(b.span())
print(b.start())
print(b.end())
print(b.string)
print(b.group())
if b:
    print('yes match')
else:
    print('no match')

(0, 28)
0
28
my name is lili my age is 20
my name is lili my age is 20
yes match

In [151]:
a = 'my sub is cs'
b = re.findall('s',a)
print(b)
print(len(b))
b = re.split('\s',a)
print(b)
b = re.split('i',a)
print(b)
b = re.split('\s',a,2)
print(b)
c = re.sub('\s','\t',a)
print(c)
c = re.sub('\s','==',a)
print(c)

['s', 's', 's']
3
['my', 'sub', 'is', 'cs']
['my sub ', 's cs']
['my', 'sub', 'is cs']
my	sub	is	cs
my==sub==is==cs

### excepting handling

In [152]:
try:
    print('hi')
except:
    print('hello')

hi

In [155]:
try:
    print(z)
except:
    print('hi')

hi

In [156]:
try:
    print('hi')
except ValueError:
    print('hello')
except:
    print('hi')

hi

In [157]:
try:
    print('hello')
except:
    print('hi')
else:
    print('hey')

hello
hey

In [158]:
try:
    print('hi')
except:
    print('hello')
finally:
    print('hey')

hi
hey

In [159]:
while True:
    try:
        a = int(input('enter the number'))
        break
    except:
        print('hii')

enter the number20

In [161]:
try:
    a = [1,2,3,4,5,6]
    for i in a:
        print(a[i])
except:
    print('hii')

2
3
4
5
6
hii

In [162]:
try:
    x =[111,222,333,444,555]
    for i in x:
        print(x[i])
except:
    print('hii')
finally:
    print('hello')

hii
hello

In [163]:
try:
    z = [11,22,3,45]
    for i in z:
        print(z[i])
except:
    print('hi')
else:
    print('hello')

hi

In [164]:
a = 10
try:
    print(a)
except:
    print('hi')
else:
    print('hello')

10
hello

In [166]:
b = 20
try:
    print('hii')
except:
    print('hello')
finally:
    print('hey')

hii
hey

In [167]:
a = -10
if a< 0:
    raise Exception('sorry')

Exception: sorry

In [168]:
b = -20
if b <0:
    raise TypeError ('no match')

TypeError: no match

In [169]:
a = 10
if not type(a) is int:
    raise Exception('no match')

### string formatting

In [170]:
a = 100
b = 'the value is {}'
print(b.format(a))

the value is 100

In [171]:
a = 100
b = 'the value is {}'
print(b.format(a))

the value is 100

In [172]:
a = 10
b = 20
c =30
print('the value is a {} the value b {} the value c {}'.format(a,b,c))

the value is a 10 the value b 20 the value c 30

In [173]:
a = 10
b = 20
print('the value is a {1} the value is b {0}'.format(a,b))

the value is a 20 the value is b 10

In [174]:
a = 100
b = 200
c = 300
print('the value is a {} the value is b {:.2f} the value is c {}'.format(a,b,c))

the value is a 100 the value is b 200.00 the value is c 300

In [175]:
name = 'lili'
age = 20
sub = 'cs'
a = 'my name is {} my age is {} my sub is {}'
print(a.format(name,age,sub))

my name is lili my age is 20 my sub is cs

In [176]:
name = 'lili'
sub = 'cs'
a = 'my name is {n} my sub is {s}'
print(a.format(n = name, s = sub))

my name is lili my sub is cs

### file handling

In [183]:
f = open('abc.txt','r')
print(f.read())
print(f.readline())
print(f.readline())
for i in f:
    print(i)
print(f.read(4))

hello world
hello python
good morningthis is new addthis is new addthis is new add

In [187]:
f = open('ab.txt','r')
print(f.read())
print(f.read(3))
print(f.readline())
print(f.readline())

hello
hey
hi
good night

In [193]:
f = open('ab.txt','a')
a = 'this is new'
f.write(a)
f = open('ab.txt','r')
print(f.read())
f = open('ab.txt','w')
print(f.write)

this is new
<built-in method write of _io.TextIOWrapper object at 0x0000026FCD2D58A0>

In [194]:
f = open('aaa.txt','x')

In [198]:
f = open('aaa.txt','a')
x = 'hello \n good morning'
f.write(x)
f = open('aaa.txt','r')
print(f.read())

hello
 good morninghello
 good morninghello
 good morning
hello
 good morning